* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.ex-1-square:hover{
    transition: 3s;
    background-color: red;
}
.ex-2-square:active{
    transition: 3s;
    width: 100%;
}
.ex-3-square:hover{
    transition: 1s;
    border-radius: 50%;
}
.well:hover .ex-4-square{
    transition: 2s;
    width: 0;
    height: 0;
}
.ex-5-square:hover{
    transition: 1s;
    width: 100px;
    height: 100px;
}
.ex-5-square:active{
    transition: 1s;
    width: 40px;
    height: 40px;
}
.ex-6-img:hover{
    filter:grayscale(1);
}
.ex-7-img:hover{
    transition: 2s;
    filter: brightness(.8) grayscale(.8);
}
.ex-8-img:hover{
    transition: 2s;
    filter: blur(2px) contrast(20%);
    border-radius: 1rem;
}
.ex-9-img:hover{
    transition: 2s;
    filter: invert(100%) opacity(50%);
    border-radius: 1rem;
    scale: 1.5;
}
.ex-10-icon {
    animation: rotate 0.5s linear infinite;
}
@keyframes rotate {
    0% {
        transform: rotate(360deg);
    }
}
.ex-11-icon:hover{
    animation: rotateclock 0.5s linear;
}
@keyframes rotateclock {
    0% {
        transform: rotate(0);
    }
    80% {
        transform: rotate(320deg);
    }
    100% {
        transform: rotate(0);
    }
}
.ex-12-top-white{
    animation: movetop 2s linear;
    animation-iteration-count: infinite;
}
@keyframes movetop {
    0% {
        left: 0%;
    }
    50% {
        left: calc(100% - 60px);
    }
    100% {
        left: 0%;
    }
}
.ex-12-bottom-white{
    animation: movebot 2s linear;
    animation-iteration-count: infinite;
}
@keyframes movebot {
    0% {
        right: 0%;
    }
    50% {
        right: calc(100% - 60px);
    }
    100% {
        right: 0%;
    }
}

.ex-13-top-white {
    animation: movetopgirocompleto 2s linear;
    animation-iteration-count: infinite;
}
@keyframes movetopgirocompleto {
    0% {
        left: 10%;
        top: -10px;
    }
    30% {
        left: calc(100% - 30px);
        top: -10px;
    }
    45% {
        left: calc(100% - 30px);
        top: 100%;
    }
    75% {
        left: 0;
        top: 100%;
    }
    90% {
        left: -15px;
        top: -10px;
    }
    100% {
        left: 10%;
        top: -10px;
    }
}
.ex-13-bottom-white {
    animation: movebotgirocompleto 2s linear;
    animation-iteration-count: infinite;
}
@keyframes movebotgirocompleto {
    0% {
        bottom: -10px;
        right: 20%;
    }
    30% {
        right: calc(100% - 30px);
        bottom: -10px;
    }
    45% {
        right: calc(100% - 30px);
        bottom: 100%;
    }
    75% {
        right: 0;
        bottom: 100%;
    }
    90% {
        right: -15px;
        bottom: -10px;
    }
    100% {
        bottom: -10px;
        right: 20%;
    }
}
/* Una parte del 12° esercizio e praticamente tutto il 13° ho dovuto guardare le soluzioni, ma posso dire di averli capiti ora */
.margin-top-15 {
    margin-top: 15px;
}
.margin-top-30 {
    margin-top: 30px;
}
.margin-top-45 {
    margin-top: 45px;
}
.margin-top-60 {
    margin-top: 60px;
}
.margin-top-75 {
    margin-top: 75px;
}

.margin-bottom-15 {
    margin-bottom: 15px;
}
.margin-bottom-30 {
    margin-bottom: 30px;
}
.margin-bottom-45 {
    margin-bottom: 45px;
}
.margin-bottom-60 {
    margin-bottom: 60px;
}
.margin-bottom-75 {
    margin-bottom: 75px;
}
